@if(!todoService.todos()){
  <div [style.padding.px]="15" [style.min-height.vh]="90" nz-flex nzJustify="center" nzGap="small" nzWrap="wrap">
    <ng-container *ngFor="let _ of [].constructor(8)">
      <nz-card [style.width.px]="150" [nzLoading]="true"/>
    </ng-container>
  </div>
}
@else{
  @if (todoService.filteredTodos().length === 0) {
    <nz-empty nzNotFoundImage="simple" />
  }
  <div [style.padding.px]="10" [style.min-height.vh]="90" nz-flex nzGap="small" nzWrap="wrap" nzJustify="center" [style.align-content]="'flex-start'">
    @for (item of todoService.filteredTodos(); track item) {
      <card-component [title]="item.title" [content]="item.content" />
    }
  </div>
}