<form nz-form [formGroup]="form">
  <nz-modal [(nzVisible)]="isVisible" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <div *nzModalTitle (click)="toggleEditTitle(true)">
      @if (isEditingTitle){
      <nz-form-item>
        <nz-form-control class="title">
          <input appAutofocus nz-input nzBorderless [style.width.%]="90" formControlName="title" placeholder="Title"
            (blur)="toggleEditTitle(false)" />
        </nz-form-control>
      </nz-form-item>
      }
      @else {
      {{form.value.title ? form.value.title : 'New note'}}
      }
    </div>

    <ng-container *nzModalContent>
      <nz-form-item>
        <nz-form-control>
          <textarea nz-input nzBorderless [style.width.%]="100" rows="4" nzAutosize="{ minRows: 4, maxRows: 10 }"
            formControlName="description" placeholder="Description"></textarea>
        </nz-form-control>
      </nz-form-item>
    </ng-container>
  </nz-modal>
</form>